@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root {
  --blue: #184f77;
  --light-blue: #178bad;
  --dark-blue: #0e2d44;
}

h1 {
  color: goldenrod;
}

html {
  height: 100%;
  background: linear-gradient(var(--dark-blue), rgb(57, 1, 57));
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
input {
  border: none;
  font: inherit;
  outline: inherit;
  background-color: #184f77;
  border-radius: 20px;
  padding-left: 15px;
  width: 210px;
  color: white;
}
.btn {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
h3 {
  margin-bottom: 0px;
}

h5 {
  margin: 0;
  color: lightgray;
}

h2 {
  color: lightgoldenrodyellow;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: goldenrod;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
  margin: 20px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
