@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root {
  --blue: #184f77;
  --light-blue: #178bad;
  --dark-blue: #0e2d44;
  --dark-yellow: #ffda58;
  --light-yellow: #fffbd9;
  --purple: rgb(57, 1, 57);

  height: 100%;
  background: linear-gradient(var(--dark-blue), var(--purple));
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 30px;
}

.container {
  display: grid;
  grid-template-rows: 200px 1fr 100px;
  grid-template-areas:
    'header'
    'content'
    'footer';
  height: 100vh;
}
.header {
  grid-area: header;
  justify-self: center;
}
.content {
  text-align: center;
  grid-area: content;
  height: 100%;
  justify-self: center;
}
.footer {
  grid-area: footer;
  justify-self: center;
}

.card {
  display: grid;
  grid-template-areas:
    'ranking icon ign ign'
    'ranking icon rank games'
    'ranking icon rank winrate';
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}
.ranking {
  grid-area: ranking;
  justify-self: center;
}
.icon {
  grid-area: icon;
  justify-self: center;
}
.ign {
  grid-area: ign;
  justify-self: center;
}
.rank {
  grid-area: rank;
  justify-self: center;
}
.games {
  grid-area: games;
  justify-self: center;
}
.winrate {
  grid-area: winrate;
  justify-self: center;
}

h1 {
  background: linear-gradient(
    to right,
    var(--dark-yellow),
    var(--light-yellow)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* for loading spinner */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: var(--dark-yellow);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
  margin: 20px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
